deploymentManagement/src/main/resources/wsdl/deploy.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<definitions
        name="DeploymentService"
        targetNamespace="http://www.apache.org/ode/deployapi"
        xmlns:tns="http://www.apache.org/ode/deployapi"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
        xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
    <xsd:schema elementFormDefault="qualified"
        targetNamespace="http://www.apache.org/ode/deployapi">
        <xsd:import namespace="http://www.w3.org/2005/05/xmlmime" 
		schemaLocation="xmlmime.xsd"/>
        <xsd:complexType name="package">
            <xsd:all>
                <xsd:element name="zip" type="xmime:base64Binary"
                    xmime:expectedContentType="application/zip" />
            </xsd:all>
        </xsd:complexType>
        <xsd:complexType name="packageNames">
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="processIds">
            <xsd:sequence>
                <xsd:element name="id" type="xsd:QName" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="deployUnit">
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" />
                <xsd:element name="id" type="xsd:QName"
                    maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:schema>
    </types>

    <message name="deployInput">
        <part name="name" type="xsd:string"/>
        <part name="modelId" type="xsd:string"/>
        <part name="package" type="tns:package"/>
    </message>
    <message name="deployOutput">
        <part name="response" type="tns:deployUnit"/>
    </message>
    <!-- schlieta -->
        <message name="deployNewVersionInput">
        <part name="name" type="xsd:string"/>
        <part name="package" type="tns:package"/>
		<part name="InstanceID" type="xsd:long"/>
    </message>
    <message name="deployNewVersionOutput">
        <part name="response" type="tns:deployUnit"/>
    </message>
    <!-- end schlieta -->
    <message name="undeployInput">
        <part name="packageName" type="xsd:QName"/>
    </message>
    <message name="undeployOutput">
        <part name="response" type="xsd:boolean"/>
    </message>
    <message name="listDeployedPackagesInput"/>
    <message name="listDeployedPackagesOutput">
        <part name="deployedPackages" type="tns:packageNames"/>
    </message>
    <message name="listProcessesInput">
        <part name="packageName" type="xsd:string"/>
    </message>
    <message name="listProcessesOutput">
        <part name="processIds" type="tns:processIds"/>
    </message>
    <message name="getProcessPackageInput">
        <part name="processName" type="xsd:QName"/>
    </message>
    <message name="getProcessPackageOutput">
        <part name="packageName" type="xsd:string"/>
    </message>
	<!-- hahnml -->
    <message name="getDeploymentBundleRequest">
    	<part name="packageName" type="xsd:QName"></part>
    </message>
    <message name="getDeploymentBundleResponse">
    	<part name="package" type="tns:package"></part>
    </message>
    <!-- /hahnml -->
    <portType name="DeploymentPortType">
        <operation name="deploy">
            <input message="tns:deployInput"/>
            <output message="tns:deployOutput"/>
        </operation>
        <!-- schlieta -->
        <operation name="deployNewVersion">
            <input message="tns:deployNewVersionInput"/>
            <output message="tns:deployNewVersionOutput"/>
        </operation>
        <!-- end schlieta -->
        <operation name="undeploy">
            <input message="tns:undeployInput"/>
            <output message="tns:undeployOutput"/>
        </operation>
        <operation name="listDeployedPackages">
            <input message="tns:listDeployedPackagesInput"/>
            <output message="tns:listDeployedPackagesOutput"/>
        </operation>
        <operation name="listProcesses">
            <input message="tns:listProcessesInput"/>
            <output message="tns:listProcessesOutput"/>
        </operation>
        <operation name="getProcessPackage">
            <input message="tns:getProcessPackageInput"/>
            <output message="tns:getProcessPackageOutput"/>
        </operation>
        <!-- hahnml -->
        <operation name="getDeploymentBundle">
        	<input message="tns:getDeploymentBundleRequest"></input>
        	<output message="tns:getDeploymentBundleResponse"></output>
        </operation>
        <!-- /hahnml -->
    </portType>

    <binding name="DeploymentBinding" type="tns:DeploymentPortType">
    	<soap:binding style="rpc"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<operation name="deploy">
    		<soap:operation soapAction="" style="rpc" />
    		<input>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</input>
    		<output>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</output>
    	</operation>
    	<!-- schlieta  -->
    	<operation name="deployNewVersion">
    		<soap:operation soapAction="" style="rpc" />
    		<input>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</input>
    		<output>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</output>
    	</operation>
    	<!-- end schlieta -->
    	<operation name="undeploy">
    		<soap:operation soapAction="" style="rpc" />
    		<input>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</input>
    		<output>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</output>
    	</operation>
    	<operation name="listDeployedPackages">
    		<soap:operation soapAction="" style="rpc" />
    		<input>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</input>
    		<output>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</output>
    	</operation>
    	<operation name="listProcesses">
    		<soap:operation soapAction="" style="rpc" />
    		<input>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</input>
    		<output>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</output>
    	</operation>
    	<operation name="getProcessPackage">
    		<soap:operation soapAction="" style="rpc" />
    		<input>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</input>
    		<output>
    			<soap:body namespace="http://www.apache.org/ode/pmapi"
    				use="literal" />
    		</output>
    	</operation>
    	<!-- hahnml -->
    	<operation name="getDeploymentBundle">
    		<soap:operation
    			soapAction="http://www.apache.org/ode/deployapi/getDeploymentBundle" />
    		<input>
    			<soap:body use="literal"
    				namespace="http://www.apache.org/ode/pmapi" />
    		</input>
    		<output>
    			<soap:body use="literal"
    				namespace="http://www.apache.org/ode/pmapi" />
    		</output>
    	</operation>
    	<!-- /hahnml -->
    </binding>

    <service name="DeploymentService">
        <port name="DeploymentPort" binding="tns:DeploymentBinding">
            <soap:address location="http://localhost:8080/ode/processes/DeploymentService"/>
        </port>
    </service>

</definitions>
